<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
<link rel="stylesheet" href="./css/styles.css">

</head>
<body>
	<div th:replace="~{fragments/header :: header}"></div>
	<div class="container-fluid height">
		<div class="row flex-nowrap">
			<div th:replace="~{fragments/leftnav :: leftnav}"></div>

			<form action="./addClub" method="post"
				style="border: 1px solid black">
				<div class="col py-3">

					<div class="row mb-2">
						<div class="col-sm-8" align="center">
							<h1 align="center">Create Club</h1>
						</div>
					</div>
					
					<div class="row mb-2">
						<div class="col-sm-2" align="center">
							<label for=title>Title</label>
						</div>
						<div class="col-sm-6">
							<input class="form-control form-control-sm mr-sm-2" required
								type="text" name="title" id="title" />
						</div>
					</div>
					<div class="row mb-2">
						<div class="col-sm-2" align="center">
							<label for="description">Description:</label>
						</div>
						<div class="col-sm-6">
							<textarea class="form-control form-control-sm mr-sm-2" required
								name="description" id="description"></textarea>
						</div>
					</div>

					<div class="row mb-2">
						<div class="col-sm-2" align="center">
							<label for="basePrice">Base Price:</label>
						</div>
						<div class="col-sm-6">
							<input class="form-control form-control-sm mr-sm-2" required
								type="number" name="basePrice" id="basePrice" />
						</div>
					</div>

					<div class="row mb-2">
						<div class="col-sm-2" align="center">
							<label>Year Can Attend:</label>
						</div>
						<div class="col-sm-6">
							<label for="yearR">R:</label> <input class="form-check-input"
								type="checkbox" name="yearR" id="yearR" /> <label for="year1">1:</label> <input class="form-check-input" type="checkbox" name="year1"
								id="year1" /> <label for="year2">2:</label> <input
								class="form-check-input" type="checkbox" name="year2" id="year2" /> <label for="year3">3:</label> <input class="form-check-input" type="checkbox" name="year3"
								id="year3" /> <label for="year4">4:</label> <input
								class="form-check-input" type="checkbox" name="year4" id="year4" /> <label for="year5">5:</label> <input class="form-check-input" type="checkbox" name="year5"
								id="year5" /> <label for="year6">6:</label> <input
								class="form-check-input" type="checkbox" name="year6" id="year6" />

						</div>
					</div>
				</div>
				<div class="row mb-2">
					<div class="col-sm-4" align="right">
						<a href="./calendar" class="btn btn-secondary" role="button">Cancel</a>
					</div>
					<div class="col-sm-4" align="left">
						<button class="btn btn-primary" name="submit">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<div th:replace="~{fragments/footer :: footer}"></div>
	
</body>
</html>