<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" 
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
			crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
			crossorigin="anonymous"></script>
	    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
	<div th:fragment="footer">
		<footer class="text-center text-lg-start fixed-bottom">	
			<div class="navbar bg-navafterschoolclub text-afterschoolclubfooter" style="width:100%;">
				<table>
					<tr>
						<td>
						<h1>Footer</h1>
						</td>
					</tr>
				</table>
			</div>
		</footer>
	</div>
</body>
</html>