<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"> </script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/styles.css"/>

</head>
<body>
	<div th:fragment="header" class="bg-navafterschoolclub afterschoolheader text-afterschoolwhite">


		<div  class="container-fluid" style="width: 100%;">
			<div th:unless="${sessionBean.isLoggedOn()}" class="row">
				<div class="text-afterschoolclubmainheader col-sm-9">After School Club</div>
				
				<div class="col-sm-3">
					<form class="form-inline" action="./processlogin" method="POST">
						<div class="row mb-1">
							<div class="col-sm-6">
								<input type="email" name="username" placeholder="username" autocomplete="email"
									class="form-control form-control-sm mr-sm-2" id="inputEmail3"
									required>
							</div>
							<div class="col-sm-6">
								<button type="submit" class="btn btn-primary">Sign in</button>
							</div>							
						</div>
						<div class="row mb-1">
							<div class="col-sm-6">
								<input type="password" name=password placeholder="password"
									class="form-control form-control-sm mr-sm-2"
									id="inputPassword3" required>
							</div>
							<div class="col-sm-6">
								<a href="./forgotPassword">Forgot password</a>
							</div>								
						</div>
						
						<div class="afterschoolclubflash row mb-1 afterschoolclubleft">
							<div class="col-sm-12" th:switch="${flashMessage}">
								<div th:case="null">&nbsp;</div>
								<div th:case="*" th:text="${flashMessage}">&nbsp;</div>
							</div>							
						</div>						
					</form>
				</div>
			</div>


			<div th:if="${sessionBean.isLoggedOn()}" class="container-fluid" style="width: 100%;">

				<div class=row>
					<div class="col-sm-6 text-afterschoolclubmainheader">After School Club</div>

					<div th:if="${sessionBean.isParentLoggedOn()}" class="col-sm-2 d-flex align-items-center">
						Balance: &nbsp;<span
							th:text="${sessionBean.getLoggedOnParent().getFormattedBalance()}">0</span>
					</div>

					<div th:if="${sessionBean.getSelectedStudent()} != null and ${sessionBean.isParentLoggedOn()}" class="col-sm-2 d-flex align-items-center"> Sessions Booked for&nbsp; <span th:text="${sessionBean.getSelectedStudent().getFirstName()+': '+sessionBean.getSelectedStudent().getAttendees()?.size()}"></span>
						
					</div>		
					
					<div th:if="${sessionBean.isAdminLoggedOn()}" class="col-sm-2 d-flex align-items-center">
						Admin info: &nbsp;<span>0</span>
					</div>
					<div th:if="${sessionBean.isAdminLoggedOn()}" class="col-sm-2 d-flex align-items-center">
						More info: &nbsp;<span>0</span>
					</div>					

					<div class="col-sm-2 d-flex align-items-center">
						<div class="dropdown">
							<a href="#"
								class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
								id="dropdownUser1" data-bs-toggle="dropdown"
								aria-expanded="false"> <img src="https://github.com/mdo.png"
								alt="hugenerd" width="30" height="30" class="rounded-circle">
								<span th:text="${sessionBean.getLoggedOnUser().getFullName()}"
								class="d-none d-sm-inline mx-1"></span>
							</a>
							<ul class="dropdown-menu dropdown-menu-dark text-small shadow"
								aria-labelledby="dropdownUser1">
								<li><a class="dropdown-item" href="./changePassword">Change
										Password</a></li>
								<li><a class="dropdown-item" href="./editUserDetails">Update Details</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item" href="./logout">Sign out</a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>

		</div>

	</div>
</body>
</html>