<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link rel="stylesheet" href="./css/styles.css">
</head>
<body>

	<div th:fragment="leftnav"
		class="col-auto col-md-2 px-sm-2 px-0 bg-navafterschoolclub text-afterschoolwhite height maxWidth">
		<div th:unless="${sessionBean.isLoggedOn()}"
			class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-90">
			<ul
				class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
				id="menu">
				<li class="nav-item"><a href="./"
					th:class="${sessionBean.isInDialogue()}? 'disabled nav-link align-middle px-0': 'nav-link align-middle px-0'"> <i class="fs-4 bi-house"></i>
						<span class="ms-1 d-none d-sm-inline">Home</span>
				</a></li>
				
				<li><a href="./viewClubs"
					th:class="${sessionBean.isInDialogue()}? 'disabled nav-link align-middle px-0': 'nav-link align-middle px-0'">
						<span class="ms-1 d-none d-sm-inline">View Clubs</span>
				</a></li>						
				
				<li class="nav-item"><a href="./createUser"
					th:class="${sessionBean.isInDialogue()}? 'disabled nav-link align-middle px-0': 'nav-link align-middle px-0'"> <i class="fs-4 bi-house"></i>
						<span class="ms-1 d-none d-sm-inline">New User</span>
				</a></li>
			</ul>
		</div>
		<div th:if="${sessionBean.isLoggedOn()}" class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-90">			
			<div>
				<div th:if="${sessionBean.isAdminLoggedOn()}">

					<ul	class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
						id="menu">

						<li><a href="./createClub"
							th:class="${sessionBean.isInDialogue()}? 'disabled nav-link align-middle px-0': 'nav-link align-middle px-0'"> 
								<span class="ms-1 d-none d-sm-inline">Create Club</span>
						</a></li>
						<li><a href="./viewClubs"
							th:class="${sessionBean.isInDialogue()}? 'disabled nav-link align-middle px-0': 'nav-link align-middle px-0'">
								<span class="ms-1 d-none d-sm-inline">View Clubs</span>
						</a></li>				
									
										
						<li><a href="./createEvent"
							th:class="${sessionBean.isInDialogue()}? 'disabled nav-link align-middle px-0': 'nav-link align-middle px-0'">
								<span class="ms-1 d-none d-sm-inline">Schedule Club Session</span>
						</a></li>
										
						<li class="nav-item"><a href="./calendar"
							th:class="${sessionBean.isInDialogue()}? 'disabled nav-link align-middle px-0': 'nav-link align-middle px-0'"> 
								<span class="ms-1 d-none d-sm-inline">Club Timetable</span>
						</a></li>

					

						<li><a href="#" th:class="${sessionBean.isInDialogue()}? 'disabled nav-link align-middle px-0': 'nav-link align-middle px-0'"> 
							<span class="ms-1 d-none d-sm-inline">Manage Resources</span>
						</a></li>
						<li><a href="#" th:class="${sessionBean.isInDialogue()}? 'disabled nav-link align-middle px-0': 'nav-link align-middle px-0'">
							<span class="ms-1 d-none d-sm-inline">Manage Refreshments</span>
						</a></li>
						
						
						<li><a href="#" th:class="${sessionBean.isInDialogue()}? 'disabled nav-link align-middle px-0': 'nav-link align-middle px-0'"> 
							<span class="ms-1 d-none d-sm-inline">Finance Reports</span>
						</a></li>						
					</ul>
					<hr>		
						<div class="container-fluid col-sm-12" style="padding:0px">
						
						
						<form id="adminFiltersForm" action="./updateAdminFilters" method="post">
								<div class="row mb-2"><b>Filters:</b></div>
								<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">						
									<li class="nav-item">
										<a href="javascript:adminFiltersForm.submit()" th:class="${sessionBean.isInDialogue()}? 'disabled nav-link align-middle px-0': 'nav-link align-middle px-0'">
											<input class="form-check-input" type="checkbox" th:checked="${sessionBean.isOnlyMineFilter()}" name="onlyMine" th:disabled="${sessionBean.isInDialogue()}" id="attending" onChange="adminFiltersForm.submit()"/>									
											<label th:class="${sessionBean.isInDialogue()}? 'disabled FilterCheck Attending' : 'FilterCheck Attending'" for="attending">Only Mine</label>
										</a>
									</li>
								</ul>		
																																		<hr>				
								
								<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">						
									<li class="nav-item">
										<a href="javascript:adminFiltersForm.submit()" th:class="${sessionBean.isInDialogue()}? 'disabled nav-link align-middle px-0': 'nav-link align-middle px-0'">
										<input class="form-check-input" id="all" th:checked="${sessionBean.getAdminFilterAsInt() == 1}" th:disabled="${sessionBean.isInDialogue()}" type="radio" name="adminFilter" value=0 onChange="adminFiltersForm.submit()"/>
											<label th:class="${sessionBean.isInDialogue()}? 'disabled FilterRadio' : 'FilterRadio'" for="all">All</label>
										</a>
									</li>
									
									<li class="nav-item">
										<a href="javascript:adminFiltersForm.submit()" th:class="${sessionBean.isInDialogue()}? 'disabled nav-link align-middle px-0': 'nav-link align-middle px-0'">
										<input class="form-check-input" id="fullybooked" th:checked="${sessionBean.getAdminFilterAsInt() == 2}" th:disabled="${sessionBean.isInDialogue()}" type="radio" name="adminFilter" value=2 onChange="adminFiltersForm.submit()"/>
											<label th:class="${sessionBean.isInDialogue()}? 'disabled FilterRadio' : 'FilterRadio'" for="fullybooked">Fully Booked</label>
										</a>
									</li>
									
									<li class="nav-item">
										<a href="javascript:adminFiltersForm.submit()" th:class="${sessionBean.isInDialogue()}? 'disabled nav-link align-middle px-0': 'nav-link align-middle px-0'">
										<input class="form-check-input" id="nobookings" th:checked="${sessionBean.getAdminFilterAsInt() == 3}" th:disabled="${sessionBean.isInDialogue()}" type="radio" name="adminFilter" value=3 onChange="adminFiltersForm.submit()"/>
											<label th:class="${sessionBean.isInDialogue()}? 'disabled FilterRadio' : 'FilterRadio'" for="nobookings">No Bookings</label>
										</a>
									</li>									
								</ul>									
						</form>
					</div>
				</div>
				<div th:if="${sessionBean.isParentLoggedOn()}">
						<form th:if="${sessionBean.getLoggedOnParent().hasChildren()}" action="./changeStudentField" method="post">
						<label for="students">Child:</label>
							<select onchange="this.form.submit()" name="students" id="students" required>
								<option th:each="student : ${sessionBean.getLoggedOnParent().getStudents()}" th:value="${student.getStudentId()}" th:text="${student.getFullName()}" th:selected="${student.getStudentId() == sessionBean.getSelectedStudent().getStudentId()}">StudentName</option>
							</select>
						</form>
					<ul
						class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
						id="menu">
						
						<li class="nav-item"><a href="./createStudent"
						th:class="${sessionBean.isInDialogue()}? 'disabled nav-link align-middle px-0': 'nav-link align-middle px-0'">
						<span class="ms-1 d-none d-sm-inline">Add New Child</span>
						</a></li>
												
						<li th:if="${sessionBean.getLoggedOnParent().hasChildren()}" class="nav-item"><a th:href="@{./updatechild(studentId=${sessionBean.getSelectedStudent().getStudentId()})}"
							th:class="${sessionBean.isInDialogue()}? 'disabled nav-link align-middle px-0': 'nav-link align-middle px-0'">
								<span class="ms-1 d-none d-sm-inline">Update <span th:text="${sessionBean.getSelectedStudent().getFirstName()}"></span>'s Details</span>
						</a></li>
						<li th:if="${sessionBean.getLoggedOnParent().hasChildren()}" class="nav-item"><a href="./viewIncidents"
						th:class="${sessionBean.isInDialogue()}? 'disabled nav-link align-middle px-0': 'nav-link align-middle px-0'"> 
						<span class="ms-1 d-none d-sm-inline">Incidents Involving <span th:text="${sessionBean.getSelectedStudent().getFirstName()}"></span></span>
						</a></li>					
						
						<li class="nav-item"><a href="./calendar"
							th:class="${sessionBean.isInDialogue()}? 'disabled nav-link align-middle px-0': 'nav-link align-middle px-0'">
								<span class="ms-1 d-none d-sm-inline">Club Timetable</span>
						</a></li>
						
						<li><a href="./viewClubs"
							th:class="${sessionBean.isInDialogue()}? 'disabled nav-link align-middle px-0': 'nav-link align-middle px-0'">
								<span class="ms-1 d-none d-sm-inline">View Clubs</span>
						</a></li>								
							
						<li class="nav-item"><a href="./viewTransactions"
							th:class="${sessionBean.isInDialogue()}? 'disabled nav-link align-middle px-0': 'nav-link align-middle px-0'">
								<span class="ms-1 d-none d-sm-inline">Account Statement</span>
						</a></li>
						
						<li class="nav-item"><a href="./topUpBalance"
							th:class="${sessionBean.isInDialogue()}? 'disabled nav-link align-middle px-0': 'nav-link align-middle px-0'">
								<span class="ms-1 d-none d-sm-inline">Add Funds</span>
						</a></li>								
					</ul>
					<hr>				
						<form id="filtersForm" action="./updateFilters" method="post">
								<div class="row mb-2"><b>Filters:</b></div>
												
								<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
									<li class="nav-item">
										<a href="javascript:filtersForm.submit()" th:class="${sessionBean.isInDialogue()}? 'disabled nav-link align-middle px-0': 'nav-link align-middle px-0'">
										<input class="form-check-input" type="checkbox" th:checked="${sessionBean.isDisplayingAttending()}" th:disabled="${sessionBean.isInDialogue()}" name="attending"  id="attending" onChange="filtersForm.submit()"/>
											<label th:class="${sessionBean.isInDialogue()} ? 'disabled FilterCheck Attending' : 'FilterCheck Attending'" for="attending">Attending</label>
										</a>
									</li>
									
									<li class="nav-item">
										<a href="javascript:filtersForm.submit()" th:class="${sessionBean.isInDialogue()}? 'disabled nav-link align-middle px-0': 'nav-link align-middle px-0'">
										<input class="form-check-input" type="checkbox" th:checked="${sessionBean.isDisplayingAvailable()}" th:disabled="${sessionBean.isInDialogue()}" name="available" id="available" onChange="filtersForm.submit()"/>
											<label th:class="${sessionBean.isInDialogue()}? 'disabled FilterCheck Available' : 'FilterCheck Available'" for="available">Available</label>
										</a>
									</li>
														
									<li class="nav-item">
										<a href="javascript:filtersForm.submit()" th:class="${sessionBean.isInDialogue()}? 'disabled nav-link align-middle px-0': 'nav-link align-middle px-0'">
										<input class="form-check-input" type="checkbox" th:checked="${sessionBean.isDisplayingUnavailable()}" th:disabled="${sessionBean.isInDialogue()}" name="unavailable" id="unavailable" onChange="filtersForm.submit()"/>
											<label th:class="${sessionBean.isInDialogue()}? 'disabled FilterCheck NotAvailable' : 'FilterCheck NotAvailable'" for="unavailable">Unavailable</label>
										</a>
									</li>
									
									<li class="nav-item">
										<a href="javascript:filtersForm.submit()" th:class="${sessionBean.isInDialogue()}? 'disabled nav-link align-middle px-0': 'nav-link align-middle px-0'">
										<input class="form-check-input" type="checkbox" th:checked="${sessionBean.isDisplayingMissed()}" th:disabled="${sessionBean.isInDialogue()}" name="missed" id="missed" onChange="filtersForm.submit()"/>
											<label th:class="${sessionBean.isInDialogue()}? 'disabled FilterCheck Missed' : 'FilterCheck Missed'" for="missed">Missed</label>
										</a>
									</li>
									
									<li class="nav-item">
										<a href="javascript:filtersForm.submit()" th:class="${sessionBean.isInDialogue()}? 'disabled nav-link align-middle px-0': 'nav-link align-middle px-0'">
										<input class="form-check-input" type="checkbox" th:checked="${sessionBean.isDisplayingAttended()}"  th:disabled="${sessionBean.isInDialogue()}" name="attended" id="attended" onChange="filtersForm.submit()"/>
											<label th:class="${sessionBean.isInDialogue()}? 'disabled FilterCheck Attended' : 'FilterCheck Attended'" for="attending">Attended</label>
										</a>
									</li>									
								</ul>	
																
						</form>
				
				</div>
			</div>
		</div>
	</div>
</body>
</html>