<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>After School Club</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"> </script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/styles.css"/>
	<script src="./scripts/afterschoolclub.js"></script>	
	<script src="https://kit.fontawesome.com/d152a1d4a4.js" crossorigin="anonymous"></script>
		
</head>
<body>
	<div th:replace="~{fragments/header :: header}"></div>
	<div th:replace="~{fragments/leftnav :: leftnav}"></div>
	<div th:replace="~{fragments/footer :: footer}"></div>
	<div th:replace="~{fragments/error :: error}"></div>

	
	<div id="main" class="main container-flex no-margin ">

				
				<div class="row mb-2">					
					<div class="col-sm-12" align="center">
						<h1 class="asc-header">Club Timetable</h1>
					</div>					
				</div>

				<div class="row mb-2">
					<div class="col-sm-12" align="center">
									

			<table id="calendarTable" class="table-striped calendar">
				<thead class="monthlyheader">
						<tr>
							<td colspan=7>
								<table class="calendarheader" style="width:100%">
									<tr>
										<td width="33%" align=right><a class="prev" href="./calendarBack"><i class="fa-solid fa-left-long"></i></a></td>
										<td width="33%">
											<h2 class="asc-orange" align="center">
												<span
													th:text="${sessionBean.getTimetableStartDate().getMonth() + ' ' + sessionBean.getTimetableStartDate().getYear()}"></span>
											</h2>
										</td>
										<td width="33%" align=left><a class="prev" href="./calendarForward"><i class="fa-solid fa-right-long"></i></a></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
						<th width=14% scope="col">MON</th>
						<th width=14% scope="col">TUE</th>
						<th width=14% scope="col">WED</th>
						<th width=14% scope="col">THU</th>
						<th width=14% scope="col">FRI</th>
						<th width=14% scope="col">SAT</th>
						<th width=14% scope="col">SUN</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="i: ${calendar}" class="days">
						<td th:each="item: ${i}" class="monthlydate">
							<div th:if="${item != null}" th:class="${item.isHoliday() ? 'holiday':'normalday'}" th:text="${item.getDate()?.getDayOfMonth()}"></div>															
							<div th:each="filteredSession : ${item?.getFilteredSessions()}" th:class="${filteredSession.getFilterClass()}">
								<div class="dropdown" style="position:initial">
									<span th:text="${!filteredSession.getSession().hasSufficientResources() and sessionBean.isAdminLoggedOn()} ? '!' : '&nbsp;'" class="InsufficientResources">!</span>
								
									<a href="#"
										th:class="'align-items-center text-blue text-decoration-none dropdown-toggle '+${filteredSession.getFilterClass()}"
										id="dropdownUser1" data-bs-toggle="dropdown"
										aria-expanded="false"> 
										<span th:text="${filteredSession.getSession().getStartTime() + ' ' + filteredSession.getSession().getClub().getTitle()}"
										class="sessionTitle d-none d-sm-inline mx-1"></span>
									</a>
									<ul th:if="${sessionBean.isAdminLoggedOn() }" class="dropdown-menu dropdown-menu-dark text-small shadow "
										aria-labelledby="dropdownUser1" style="z-index:99999">
										<li><a class="dropdown-item" th:if="${!filteredSession.getSession().endInPast()}" th:href="@{/editSession(sessionId=${filteredSession.getSession().getSessionId()})}">Edit Session</a></li>
										<li><a class="dropdown-item" th:href="@{/adminViewSession(sessionId=${filteredSession.getSession().getSessionId()})}">View Session</a></li>
										<li><a class="dropdown-item" th:href="@{/copySession(sessionId=${filteredSession.getSession().getSessionId()})}">Copy Session</a></li>							
										<li><a class="dropdown-item" th:if="${!filteredSession.getSession().endInPast()}"  th:href="@{/cancelSession(sessionId=${filteredSession.getSession().getSessionId()})}">Cancel Session</a></li>
										<li th:if="${filteredSession.getSession().isNow()} or ${filteredSession.getSession().inPast()}" ><hr/></li>
										<li><a class="dropdown-item" th:if="${filteredSession.getSession().isNow()}"  th:href="@{/takeRegister(sessionId=${filteredSession.getSession().getSessionId()})}">Take Register</a></li>
										<li><a class="dropdown-item" th:if="${filteredSession.getSession().inPast()}" th:href="@{/createIncident(sessionId=${filteredSession.getSession().getSessionId()})}">Record Incident</a></li>
			
									</ul>
									<ul th:if="${sessionBean.isParentLoggedOn()}" class="dropdown-menu dropdown-menu-dark text-small shadow "
										aria-labelledby="dropdownUser1" style="z-index:99999">
										<li><a class="dropdown-item" th:href="@{/parentViewSession(sessionId=${filteredSession.getSession().getSessionId()})}">View Session</a></li>
										<li th:if="${sessionBean.getSelectedStudent()} != null and ${!sessionBean.getSelectedStudent().isAttendingSession(filteredSession.getSession())} and ${filteredSession.getSession().canAttend(sessionBean.getSelectedStudent())}"><a class="dropdown-item" th:href="@{/registerForSession(sessionId=${filteredSession.getSession().getSessionId()})}">Book Attendance</a></li>
									 	<li th:if="${sessionBean.getSelectedStudent()} != null and ${sessionBean.getSelectedStudent().isAttendingSession(filteredSession.getSession())} and ${!filteredSession.getSession().inPast()}"><a class="dropdown-item" th:href="@{/deregisterForSession(sessionId=${filteredSession.getSession().getSessionId()})}">Cancel Booking</a></li>
										<li th:if="${sessionBean.getSelectedStudent()} != null and ${sessionBean.getSelectedStudent().isAttendingSession(filteredSession.getSession())} and ${!filteredSession.getSession().endInPast()}">
											<hr th:if="${sessionBean.getSelectedStudent()} != null and ${filteredSession.getSession().hasOptions()} and ${sessionBean.getSelectedStudent().isAttendingSession(filteredSession.getSession())} and ${!filteredSession.getSession().endInPast()}" class="dropdown-divider">
										</li>
										<li th:if="${sessionBean.getSelectedStudent()} != null and ${filteredSession.getSession().hasOptions()} and ${sessionBean.getSelectedStudent().isAttendingSession(filteredSession.getSession())} and ${!filteredSession.getSession().endInPast()}"><a class="dropdown-item" th:href="@{/editSessionOptions(sessionId=${filteredSession.getSession().getSessionId()})}">Edit Options</a></li>
									</ul>
									<ul th:unless="${sessionBean.isLoggedOn()}" class="dropdown-menu dropdown-menu-dark text-small shadow "
										aria-labelledby="dropdownUser1" style="z-index:99999">
										<li><a class="dropdown-item" th:href="@{/parentViewSession(sessionId=${filteredSession.getSession().getSessionId()})}">View Session</a></li>
									</ul>												
								</div>
							</div>
							
						</td>											
					</tr>
				</tbody>
			</table>

			<div class="spacer">&nbsp;</div>
				
			</div>
			</div>
			</div>
		


</body>
</html>