<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"> </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="./css/styles.css" />
<script src="./scripts/afterschoolclub.js"></script>
<script src="https://kit.fontawesome.com/d152a1d4a4.js" crossorigin="anonymous"></script>

</head>

<body>
	<div th:replace="~{fragments/header :: header}"></div>
	<div th:replace="~{fragments/leftnav :: leftnav}"></div>
	<div th:replace="~{fragments/footer :: footer}"></div>
	<div th:replace="~{fragments/error :: error}"></div>


	<div id="main" class="main container-flex no-margin ">

		<form action="./addClub" method="post">
			<input type="hidden" th:value="${club.getClubId()}" name="clubId" />
			<input th:value="${tempFilename}" type="hidden" name="tempFilename"  />
						
			<div class="col py-3">

				<div class="row mb-2">
					<div class="col-sm-12" align="center">
						<h1 class="asc-header" th:if="${isEditing}">Update Club</h1>
						<h1 class="asc-header" th:unless="${isEditing}">Create Club</h1>
					</div>
				</div>
				
				<div class="row mb-2">

					<div class="col-sm-12" align="center">
						<label for="clubProfilePicTemplate"> <img width="300" height="150" id="newClubImage"
							th:src="${club.getImageURL()}" data-toggle="tooltip" title="Click this image to update the image associated with this club. "/> 
							<input class="form-control staffInput" name="clubProfilePicTemplate"
							id="clubProfilePicTemplate" accept=".jpg"  type="file" style="display: none" onchange="uploadNewImage()" />
						</label>

					</div>
				</div>
				<div class="row mb-2 ">
					<div class="col-sm-2 asc-form-label">
						<label for=title>Title:</label>
					</div>
					<div class="col-sm-9 ">
						<input class="form-control mr-sm-2" required type="text" th:value="${club.getTitle()}"
							name="title" id="title" placeholder="Meaningful title e.g. Yr5 Football Club" maxlength=64/>
					</div>
				</div>
				<div class="row mb-2">
					<div class="col-sm-2 asc-form-label">
						<label for="description">Description:</label>
					</div>
					<div class="col-sm-9">
						<textarea class="form-control mr-sm-2" required rows="5" name="description"
							th:text="${club.getDescription()}" id="description" placeholder="Insightful description that helps parent understand the associated activities" maxlength=1024></textarea>
					</div>
				</div>

				<div class="row mb-2">
					<div class="col-sm-2 asc-form-label">
						<label for="description">Keywords:</label>
					</div>
					<div class="col-sm-9">
						<textarea class="form-control mr-sm-2" required rows="3" name="keywords"
							th:text="${club.getKeywords()}" placeholder="Words that may be used to help parent find this club e.g. Sport Soccer" id="keywords" maxlength=256></textarea>
					</div>
				</div>


				<div class="row mb-2">
					<div class="col-sm-2 asc-form-label">
						<label for="basepriceinput">Base Price:</label>
					</div>
					<div class="col-sm-2 ">
					    <input type="text" id="basepriceinput" for="baseprice" required placeholder="Price without extras such as refreshments" maxlength=6 class="asc-moneyinput form-control" 
					    	th:value="${sessionBean.formatMoney(club.getBasePrice())}" data-toggle="tooltip" title="Price without extras such as refreshments." style="width:110px;"/>
					
						<input class="form-control mr-sm-2"  type="number" th:value="${club.getBasePrice()}"
							name="basePrice" id="baseprice"  style="display:none"/>
					</div>
					<div class="col-sm-8 asc-form-label-left">
						<label for="acceptsVouchers">Accept Vouchers: &nbsp;</label>
						<input class="asc-control form-check-input"   type="checkbox" th:checked="${club.isAcceptsVouchers()}"
							name="acceptsVouchers" id="acceptsVouchers" data-toggle="tooltip" title="Vouchers cannot be used as payment for all clubs. Please select if this club can be paid by vouchers."/>
					</div>
				</div>
				
				

				<div class="row mb-2 ">
					<div class="col-sm-2 asc-form-label">
						<label>Year Can Attend:</label>
					</div>
					<div class="col-sm-9">
						<label for="yearR">R: &nbsp;</label> 
						<input class="asc-control form-check-input" th:checked="${club.isYearRCanAttend()}"	type="checkbox" name="yearR" id="yearR" data-toggle="tooltip" title="Select if club is suitable for students in reception year." /> 
						<label for="year1"> &nbsp;1: &nbsp;</label> 
						<input class="asc-control form-check-input" th:checked="${club.isYear1CanAttend()}" type="checkbox" name="year1" id="year1" data-toggle="tooltip" title="Select if club is suitable for students in year 1." /> 
						<label for="year2"> &nbsp;2: &nbsp;</label>
						<input class="asc-control form-check-input" th:checked="${club.isYear2CanAttend()}" type="checkbox" name="year2" id="year2" data-toggle="tooltip" title="Select if club is suitable for students in year 2." /> 
						<label for="year3"> &nbsp;3: &nbsp;</label> 
						<input class="asc-control form-check-input" th:checked="${club.isYear3CanAttend()}" type="checkbox" name="year3" id="year3" data-toggle="tooltip" title="Select if club is suitable for students in year 3." /> 
						<label for="year4"> &nbsp;4: &nbsp;</label> 
						<input class="asc-control form-check-input" th:checked="${club.isYear4CanAttend()}" type="checkbox" name="year4" id="year4" data-toggle="tooltip" title="Select if club is suitable for students in year 4." /> 
						<label for="year5"> &nbsp;5: &nbsp;</label>
						<input class="asc-control form-check-input" th:checked="${club.isYear5CanAttend()}" type="checkbox" name="year5" id="year5" data-toggle="tooltip" title="Select if club is suitable for students in year 5." /> 
						<label for="year6"> &nbsp;6: &nbsp;</label> 
						<input class="asc-control form-check-input" th:checked="${club.isYear6CanAttend()}" type="checkbox" name="year6" id="year6" data-toggle="tooltip" title="Select if club is suitable for students in year 6." /> 
					</div>
				</div>



			</div>
			<div class="row mb-2">
				<div class="col-sm-6" align="right">
					<button th:if="${isEditing}" class="btn btn-primary" name="submit" data-toggle="tooltip" title="Press to update club details.">Update</button>
					<button th:unless="${isEditing}" class="btn btn-primary" name="submit" data-toggle="tooltip" title="Press to create new club." >Create</button>
				</div>
				<div class="col-sm-6" align="left">
					<a th:href="${sessionBean.getReturnUrl()}" class="btn btn-secondary" role="button" data-toggle="tooltip" title="Press to cancel and not make any changes.">Cancel</a>
				</div>
			</div>
			<div class="spacer">&nbsp;</div>

		</form>
	</div>

	<script>
	function uploadFile(file, id) {
		var data = new FormData();
	    
	    // Add the uploaded image content to the form data collection

	    data.append("file", file);     
	    data.append("filename", id);

	    // Make Ajax request with the contentType = false, and procesDate = false
	    var ajaxRequest = $.ajax({
	         type: "POST",
	         url: "./clubPics",
	         contentType: false,
	         processData: false,
	         data: data,
	        });
	    ajaxRequest.done(function (xhr, textStatus) {
	     			console.log("Uploaded Image");
	     			src = "./clubPics/" +id + ".jpg";
	     			$("#newClubImage")[0].setAttribute("src", src);
	     			reloadImg(src);
			   });
	}


	  
	function uploadNewImage(){
	    var files = event.target.files;
	    if (files.length > 0) {    	
			uploadFile(files[0],  $("input[name=tempFilename]").val());
	    }	
	  }  


		


	$('.asc-moneyinput').change(function(e) {
	    value=e.target.value.replace("£", "").trim();
	    if(isNaN(value)){
	        e.target.value = ''
	    }else{		
	  	$("#" + e.target.getAttribute("for")).val(Math.round(value * 100))
	      e.target.value = pounds.format(value);
	    }
	  })
	  	
			
	
	</script>
</body>
</html>