<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
	
<link rel="stylesheet" href="./css/styles.css">

</head>
<body>
	<div th:replace="~{fragments/header :: header}"></div>
	<div class="container-fluid">
		<div class="row flex-nowrap">
			<div th:replace="~{fragments/leftnav :: leftnav}"
				class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark"></div>

			<div class="container-fluid col-sm-10">


			<form action="./addEvent" method="post">
				<div class="col py-3">

					<div class="row mb-2">
						<div class="col-sm-8" align="center">
							<h1 align="center">Schedule Club Event</h1>
						</div>
					</div>

					<div class="row mb-2">
						<div class="col-sm-2" align="center">
							<label for="club">Club:</label>
						</div>
						<div class="col-sm-2">
							<select class="form-select form-control-sm mr-sm-2"  name="club" id="club" required>
								<option th:each="club : ${clubs}" th:value="${club.getClubId()}" th:text="${club.getTitle()}">Club Title</option>
							</select>
						</div>
					</div>

					<div class="row mb-2">
						<div class="col-sm-2" align="center">
							<label for="club">Location:</label>
						</div>
						<div class="col-sm-2">
							<select class="form-select form-control-sm mr-sm-2" name="location" id="location" required>
								<option th:each="room : ${rooms}" th:value="${room.getResourceId()}" th:text="${room.getName()}">Room Name</option>
							</select>
						</div>
						<div class="col-sm-2" align="center">
							<label for="maxAttendees">Max Attendees:</label>
						</div>
						<div class="col-sm-2">
							<input class="form-control form-control-sm mr-sm-2" required
								type="number" name="maxAttendees" id="maxAttendees" />
						</div>
						
					</div>
					
					<div class="row mb-2">
						<div class="col-sm-2" align="center" >
							<label for="staff">Staff:</label>
						</div>
						<div class="col-sm-6">
							<select class="form-select form-control-sm mr-sm-2" name="staff" id="staff" required multiple>
								<option th:each="staffMember : ${staff}" th:value="${staffMember.getResourceId()}" th:text="${staffMember.getName()}">Staff Name</option>
							</select>
						</div>
					</div>
										
					
					<div class="row mb-2">
						<div class="col-sm-2" align="center">
							<label for="startDate">Start Date:</label>
						</div>
						<div class="col-sm-2">
							<input class="form-control form-control-sm mr-sm-2" required
								type="date" name="startDate" id="startDate" />
						</div>
						<div class="col-sm-2" align="center">
							<label for="startTime">Start Time:</label>
						</div>
						<div class="col-sm-2">
							<input class="form-control form-control-sm mr-sm-2" required
								type="time" name="startTime" id="startTime" />
						</div>						
					</div>
					
					<div class="row mb-2">
						<div class="col-sm-4" align="center">
							&nbsp;
						</div>
						<div class="col-sm-2" align="center">
							<label for="endTime">End Time:</label>
						</div>
						<div class="col-sm-2">
							<input class="form-control form-control-sm mr-sm-2" required
								type="time" name="endTime" id="endTime" />
						</div>
					</div>
					
					<div class="row mb-2">
						<div class="col-sm-2" align="center" >
							<label for="staff">Refreshments:</label>
						</div>
						<div class="col-sm-6">
							<select class="form-select form-control-sm mr-sm-2" name="menu" id="menu" multiple>
								<option th:each="menu : ${menus}" th:value="${menu.getMenuGroupId()}" th:text="${menu.getName()}">Menu Name</option>
							</select>
						</div>
					</div>
					
					<div class="row mb-2">
						<div class="col-sm-2" align="center" >
							<label for="equipment">Equipment</label>
						</div>
						<div class="col-sm-2" align="center" >
							<label for="equipment">Item</label>
						</div>
						
						<div class="col-sm-2" align="center" >
							<label for="equipment">Quantity</label>
						</div>
						<div class="col-sm-2" align="center" >
							<label for="equipment">Per Attendee</label>
						</div>						
					</div>
					<div class="row mb-2" id="item1">
						<div class="col-sm-2" align="center" >
							<label for="equipment">Item 1:</label>
						</div>
						<div class="col-sm-2">
							<select class="form-select form-control-sm mr-sm-2"  name="equipment" id="equipment">
								<option value=0 >None</option>
								<option th:each="item : ${equipment}" th:value="${item.getResourceId()}" th:text="${item.getName()}">Equipment Name</option>
							</select>
						</div>

						<div class="col-sm-2">
							<input class="form-control form-control-sm mr-sm-2" 
								type="number" name="equipmentQuantity" id="equipmentQuantity" />
						</div>
						<div class="col-sm-2" align="center">
							<input class="form-check-input" type="checkbox" name="perAttendee" id="perAttendee"/>
							<input type="hidden" name="hiddenPerAttendee" id="hiddenPerAttendee" />  
						</div>
						<div class="col-sm-2" id="item1buttons">
								<button type="button" class="btn btn-secondary"  onCLick="item2.style.display = 'flex'; item1buttons.style.display = 'none'">+</button>
						</div>
					</div>					
					
					<div class="row mb-2" id="item2" style="display:none">
						<div class="col-sm-2" align="center" >
							<label for="equipment">Item 2:</label>
						</div>
						<div class="col-sm-2">
							<select class="form-select form-control-sm mr-sm-2"  name="equipment" id="equipment" >
								<option value=0 >None</option>
								<option th:each="item : ${equipment}" th:value="${item.getResourceId()}" th:text="${item.getName()}">Equipment Name</option>
							</select>
						</div>

						<div class="col-sm-2">
							<input class="form-control form-control-sm mr-sm-2" 
								type="number" name="equipmentQuantity" id="equipmentQuantity" />
						</div>
						<div class="col-sm-2" align="center">
							<input class="form-check-input" type="checkbox" name="perAttendee" id="perAttendee" /> 
							<input type="hidden" name="hiddenPerAttendee" id="hiddenPerAttendee" />
						</div>
						<div class="col-sm-2" id="item2buttons">
								<button type="button" class="btn btn-secondary"  onCLick="item3.style.display = 'flex'; item2buttons.style.display = 'none'">+</button>&nbsp;
								<button type="button" class="btn btn-secondary"  onCLick="item2.style.display = 'none'; item1buttons.style.display = 'flex'">-</button>
						</div>
					</div>		
				
				
				
					<div class="row mb-2" id="item3" style="display:none">
						<div class="col-sm-2" align="center" >
							<label for="equipment">Item 3:</label>
						</div>
						<div class="col-sm-2">
							<select class="form-select form-control-sm mr-sm-2"  name="equipment" id="equipment" >
								<option value=0 >None</option>
								<option th:each="item : ${equipment}" th:value="${item.getResourceId()}" th:text="${item.getName()}">Equipment Name</option>
							</select>
						</div>

						<div class="col-sm-2">
							<input class="form-control form-control-sm mr-sm-2" 
								type="number" name="equipmentQuantity" id="equipmentQuantity" />
						</div>
						<div class="col-sm-2" align="center">
							<input class="form-check-input" type="checkbox" name="perAttendee" id="perAttendee" /> 
							<input type="hidden" name="hiddenPerAttendee" id="hiddenPerAttendee" />
						</div>
						<div class="col-sm-2" id="item3buttons">
								<button type="button" class="btn btn-secondary"  onCLick="item4.style.display = 'flex'; item3buttons.style.display = 'none'">+</button>&nbsp;
								<button type="button" class="btn btn-secondary"  onCLick="item3.style.display = 'none'; item2buttons.style.display = 'flex'">-</button>
						</div>					
					</div>	
							
					<div class="row mb-2" id="item4" style="display:none">
						<div class="col-sm-2" align="center" >
						
							<label for="equipment">Item 4:</label>
						</div>
						<div class="col-sm-2">
							<select class="form-select form-control-sm mr-sm-2"  name="equipment" id="equipment" >
								<option value=0 >None</option>
								<option th:each="item : ${equipment}" th:value="${item.getResourceId()}" th:text="${item.getName()}">Equipment Name</option>
							</select>
						</div>

						<div class="col-sm-2">
							<input class="form-control form-control-sm mr-sm-2" 
								type="number" name="equipmentQuantity" id="equipmentQuantity" />
						</div>
						<div class="col-sm-2" align="center">
							<input class="form-check-input" type="checkbox" name="perAttendee" id="perAttendee" />
							<input type="hidden" name="hiddenPerAttendee" id="hiddenPerAttendee" />
							
						</div>
						<div class="col-sm-2" id="item4buttons">
								<button type="button" class="btn btn-secondary"  onCLick="item5.style.display = 'flex'; item4buttons.style.display = 'none'">+</button>&nbsp;
								<button type="button" class="btn btn-secondary"  onCLick="item4.style.display = 'none'; item3buttons.style.display = 'flex'">-</button>
						</div>						
						
					</div>	

					<div class="row mb-2" id="item5" style="display:none">
						<div class="col-sm-2" align="center" >
							<label for="equipment">Item 5:</label>
						</div>
						<div class="col-sm-2">
							<select class="form-select form-control-sm mr-sm-2"  name="equipment" id="equipment" >
								<option value=0 >None</option>
								<option th:each="item : ${equipment}" th:value="${item.getResourceId()}" th:text="${item.getName()}">Equipment Name</option>
							</select>
						</div>

						<div class="col-sm-2">
							<input class="form-control form-control-sm mr-sm-2" 
								type="number" name="equipmentQuantity" id="equipmentQuantity" />
						</div>
						<div class="col-sm-2" align="center">
							<input class="form-check-input" type="checkbox" name="perAttendee" id="perAttendee" /> 
							<input type="hidden" name="hiddenPerAttendee" id="hiddenPerAttendee" />
						</div>
						<div class="col-sm-2"  id="item5buttons">
								<button type="button" class="btn btn-secondary" onCLick="item5.style.display = 'none'; item4buttons.style.display = 'flex'">-</button>
						</div>		
					</div>	
					
					<div class="row mb-2">

						<div class="col-sm-4" align="right">
							<button class="btn btn-primary" name="submit" onclick="hiddenPerAttendee[0].value=perAttendee[0].checked; hiddenPerAttendee[1].value=perAttendee[1].checked; hiddenPerAttendee[2].value=perAttendee[2].checked; hiddenPerAttendee[3].value=perAttendee[3].checked; hiddenPerAttendee[4].value=perAttendee[4].checked; ">Schedule</button>
						</div>
						<div class="col-sm-4" align="left">
							<a href="./calendar" class="btn btn-secondary" role="button">Cancel</a>
						</div>						
					</div>
				</div>
			</form>
		</div>
		</div>

	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>