<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"> </script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/styles.css"/>
	<script src="./scripts/afterschoolclub.js"></script>		
</head>
<body>
	<div th:replace="~{fragments/header :: header}"></div>
	<div th:replace="~{fragments/leftnav :: leftnav}"></div>
	<div th:replace="~{fragments/footer :: footer}"></div>

	
	<div id="main" class="main container-flex no-margin ">
				
			<form th:action="${action.equals('createUser')}? './addNewUser' : './saveUserDetails'" class="mainform" method="post">
			<div class="col py-3">

				<div class="row mb-2">
					<div class="col-sm-6" align="right">
						<h1 th:if="${action} == 'createUser'" align="center">New User</h1>
						<h1 th:if="${action} == 'updateUser'" align="center">Update Profile</h1>					
					</div>
				</div>
					
				<div class="row mb-2">
					<div class="col-sm-2" align="right">
						<label for="firstName">First Name:</label>
					</div>
					<div class="col-sm-4">
						<input th:value="${editUser != null}? ${editUser.getFirstName()}:''" class="form-control form-control-sm mr-sm-2" required
							type="text" name="firstName" id="firstName" />
					</div>
				</div>
				<div class="row mb-2">
					<div class="col-sm-2" align="right">
						<label for="surname">Surname:</label>
					</div>
					<div class="col-sm-4">						
						<input  th:value="${editUser != null}? ${editUser.getSurname()}:''" class="form-control form-control-sm mr-sm-2" required
							type="text" name="surname" id="surname" />
					</div>
				</div>
				<div class="row mb-2">
					<div class="col-sm-2" align="right">
						<label for="email">Email:</label>
					</div>
					<div class="col-sm-4">
						<input th:if="${action} == 'createUser'" class="form-control form-control-sm mr-sm-2" required
							type="text" name="email" th:value="${editUser != null}? ${editUser.getEmail()}:''" id="email" autocomplete="email" />
						<input th:if="${action} == 'updateUser'" th:value="${editUser.getEmail()}" class="form-control form-control-sm mr-sm-2" required
							type="text" name="email" id="email" readonly />
					</div>
				</div>
				<div th:if="${action} == 'createUser'" class="row mb-2">
					<div class="col-sm-2" align="right">
						<label for="password">Password:</label>
					</div>
					<div class="col-sm-4">
						<input class="form-control form-control-sm mr-sm-2" required
							type="password" name="password" id="password" />
					</div>
				</div>
				<div th:if="${action} == 'createUser'" class="row mb-2">
					<div class="col-sm-2" align="right">
						<label for="conPassword">Confirm Password:</label>
					</div>
					<div class="col-sm-4">
						<input th:if="${action} == 'createUser'" class="form-control form-control-sm mr-sm-2" required
							type="password" name="conPassword" id="conPassword" />
					</div>
				</div>
				<div class="row mb-2">
					<div class="col-sm-2" align="right">
						<label for="telephoneNum">Telephone Number:</label>
					</div>
					<div class="col-sm-4">						
						<input th:value="${editUser != null}? ${editUser.getTelephoneNum()}:''" class="form-control form-control-sm mr-sm-2" required
							type="text" name="telephoneNum" id="telephoneNum" />
					</div>
				</div>
				<div class="row mb-2">
					<div class="col-sm-2" align="right">
						<label for="altContactName">Alt Emergency Contact Full Name:</label>
					</div>
					<div class="col-sm-4">
						<input th:value="${editUser != null}? ${editUser.getParent().getAltContactName()}:''" class="form-control form-control-sm mr-sm-2" required
							type="text" name="altContactName" id="altContactName" />
					</div>
				</div>
				<div class="row mb-2">
					<div class="col-sm-2" align="right">
						<label for="altTelephoneNum">Alt Emergency Contact Telephone Number:</label>
					</div>
					<div class="col-sm-4">						
						<input th:value="${editUser != null}? ${editUser.getParent().getAltTelephoneNum()}:''" class="form-control form-control-sm mr-sm-2" required
							type="text" name="altTelephoneNum" id="altTelephoneNum" />
					</div>
				</div>
				
				
				</div>
				<div class="row mb-2">
					<div class="col-sm-3" align="right">
						<button class="btn btn-primary" name="submit">Submit</button>
					</div>
				
					<div class="col-sm-3" align="left">
						<a th:if="${action} == 'createUser'" href="./" class="btn btn-secondary" role="button">Cancel</a>
						<a th:if="${action} == 'updateUser'" href="./calendar" class="btn btn-secondary" role="button">Cancel</a>
					</div>
				</div>
			</form>
		
		</div>

</body>
</html>