<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>AfterSchool Club Payment Reminder</title>
</head>
<body>
Dear <span th:text="${user.getFullName()}"></span>,
<br/>

<p>Your After School Club current overdraft limit is <span th:text="${sessionBean.formatMoney(parent.getOverdraftLimit())}")></span>.</p>

<p>Your After School Club account is currently overdrawn by <span th:text="${sessionBean.formatMoney(parent.getCashDebt())}")></span>.<br/></p>

<p>Can you please make a payment to resolve your current debt.</p>

Best Regards,<br/>
After School Club Administration Team
</body>
</html>