<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js" type="text/javascript"> </script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" type="text/javascript"></script>
	
	<link rel="stylesheet" href="./css/styles.css"/>
	<link rel="stylesheet" href="./css/modal.css"/>	
		
	<script src="./scripts/afterschoolclub.js" type="text/javascript"></script>
	
	<script src="./scripts/managerefreshments.js" type="text/javascript"></script>
	<script src="https://kit.fontawesome.com/d152a1d4a4.js" crossorigin="anonymous"></script>
	<script src="./scripts/filter.js" type="text/javascript"></script>
		
<style>


.itembutton {
	opacity: 80%;
	width: 25px;
	height: 25px;
	
}
.itembutton:hover,
.itembutton:focus {
  
  cursor: pointer;
  opacity: 100%;
}

.asc-menuitemcheckbox {
	display:none;
}




</style>

		
</head>

<body onLoad="setUpEditHandlers();">
	<div th:replace="~{fragments/header :: header}"></div>
	<div th:replace="~{fragments/leftnav :: leftnav}"></div>
	<div th:replace="~{fragments/footer :: footer}"></div>
	<div th:replace="~{fragments/error :: error}"></div>


	<div id="main" class="main container-flex no-margin ">


		<div class="row mb-2">
			<div class="col-sm-12" align="center">
				<h1 class="asc-header">Manage Refreshments</h1>
			</div>
		</div>



		<div class="row mb-2">
			<div class="col-sm-12">
				<input id="mainFilter" class="form-control" type="text"
					placeholder="Search...">
			</div>

		</div>

		<div class="row mb">
			<div class="col-sm-12">
				<ul class="nav nav-tabs">
					<li class="nav-item"><a class="nav-link resourceTab active"
						aria-current="page" id="menuGroupTab"
						href="javascript:activateResourceTab('menuGroupTab')">Menus</a></li>
											
					<li class="nav-item"><a
						class="nav-link resourceTab" aria-current="page"
						id="menuOptionTab"
						href="javascript:activateResourceTab('menuOptionTab')">Menu Items</a></li>

				</ul>
			</div>
		</div>

		<div id="menuOptionList" class="row mb-2 flex-nowrap resourcePane" style="display: none">
			<form action="./updateMenuOption" onSubmit="addNewmenuOption(event)"
				name="form" method="post">

				<div class="col-sm-12">
					<fieldset class="form-group border p-3">
						<div class="container-fluid no-margin">
							<div class="row mb-2">
								<div style="padding-left: 0px" class="col-sm-2">
									<b>Name</b>
								</div>
								<div style="padding-left: 0px" class="col-sm-4">
									<b>Description</b>
								</div>
								<div style="padding-left: 0px" class="col-sm-4" align=center>
									<b>Allergy Information</b>
								</div>
								<div style="padding-left: 0px" class="col-sm-1">
									<b>Cost</b>
								</div>
								<div style="padding-left: 0px" class="col-sm-1 asc-menuitemcheckbox">
									<b>Tick to Add</b>
								</div>								
							</div>

							<div class="row mb-2 filterrow" th:each="menuOption : ${allMenuOptions}"
								th:id="${'row-' + menuOption.getMenuOptionId()}">
								<div style="padding-left: 0px" class="col-sm-2 editable menuOption name" th:id="${'name-' + menuOption.getMenuOptionId()}"
									th:orig-data="${menuOption.getName()}" th:text="${menuOption.getName()}" edittype="text">Name</div>
								<div style="padding-left: 0px" class="col-sm-4 editable menuOption" th:id="${'description-' + menuOption.getMenuOptionId()}"
									th:orig-data="${menuOption.getDescription()}" th:text="${menuOption.getDescription()}" edittype="textarea">Description</div>
								<div style="padding-left: 0px" class="col-sm-4 editable menuOption" th:id="${'allergyInformation-' + menuOption.getMenuOptionId()}"
									th:orig-data="${menuOption.getAllergyInformation()}" th:text="${menuOption.getAllergyInformation()}"
									edittype="textarea">Allergy Information</div>
								<div style="padding-left: 0px" class="col-sm-1 editable menuOption"  th:id="${'additionalCost-' + menuOption.getMenuOptionId()}"
									th:orig-data="${sessionBean.formatMoney(menuOption.getAdditionalCost())}" th:text="${sessionBean.formatMoney(menuOption.getAdditionalCost())}" edittype="money"
									align=center>Cost</div>
								<div style="padding-left: 0px" class="col-sm-1 asc-menuitembutton">
									<button class="btn asc-control imagebtn btn-danger" type="button" onclick="deleteMenuItem(this)" th:id="${'delete-' + menuOption.getMenuOptionId()}"><i class="fa fa-trash"></i></button>
									<button style="display:none" class="btn asc-control imagebtn btn-primary" type="button" onclick="undoChanges(this)" th:id="${'undo-' + menuOption.getMenuOptionId()}"><i class="fa fa-rotate-left"></i></button>

								</div>
								<div style="padding-top: 5px" class="col-sm-1 asc-menuitemcheckbox">
									<input name="selectedOption" type="checkbox" />
								</div>
							</div>
							
	
												

							<div class="row mb-2" id="menuOptionNewRow">
								<div style="padding-left: 0px" class="col-sm-2 " orig-data=""
									edittype="text">
									<input class="form-control menuOptionInput"  maxlength="64"
										name="menuOptionName" type="text" required />
								</div>
								<div style="padding-left: 0px" class="col-sm-4 " orig-data=""
									edittype="text">
									<input class="form-control menuOptionInput" maxlength="1024"
										name="menuOptionDescription" type="text" required/>  
								</div>
								<div style="padding-left: 0px" class="col-sm-4 " orig-data=""
									edittype="text">
									<input class="form-control menuOptionInput" maxlength="1024"
										name="menuOptionAllergyInformation" type="text" required.>
								</div>
								<div style="padding-left: 0px" class="col-sm-1 " orig-data=""
									edittype="money">
				<!-- <input class="form-control menuOptionInput" min=0
										name="menuOptionAdditionalCost" type="number" required /> -->
										
								    <input type="text" id="menuOptionAdditionalCostInput" required placeholder="Cost" maxlength=6 class="asc-moneyinput form-control menuOptionInput" 
								    	name="menuOptionAdditionalCost"  data-toggle="tooltip" title="Price for menu item in addition to base price of session." style="width:110px;"/>
								
										
								</div>
								<div style="padding-left: 0px" class="col-sm-1">								
									<button  class="btn asc-control imagebtn btn-success" type="submit"><i class="fa fa-plus"></i></button>
								</div>
							</div>
						</div>
					</fieldset>

				</div>
			</form>
		</div>

		
		<div id="menuGroupList" class="row mb-2 resourcePane flex-nowrap" >
			<form action="./updateMenuGroup" onSubmit="addMenuGroup(event)" name="form" method="post">

				<div class="col-sm-12">

					<fieldset class="form-group border p-3">


						<div class="accordion accordion-flush" id="accordionFlushExample">
						
							<th:block  th:each="menuGroup : ${allMenuGroups}" >
								  <div class="accordion-item filterRow" th:id="${'row-' + menuGroup.getMenuGroupId()}">
								    <div class="accordion-header">
								    
								      <div class="accordion-button collapsed"  data-bs-toggle="collapse" th:data-bs-target="${'#flush-collapse-' + menuGroup.getMenuGroupId()}" aria-expanded="false" th:aria-controls="${'flush-collapse-' + menuGroup.getMenuGroupId()}"   >
								      			<button class="btn imagebtn btn-danger"  onClick="deleteMenuGroup(this)" th:id="${'delete-' + menuGroup.getMenuGroupId()}"><i class="fa fa-trash"></i></button>
								      			<span>&nbsp;</span>									      																										
												<span th:text="${menuGroup.getName()}"></span>	
								      
								    	</div>
								    </div>
								    <div th:id="${'flush-collapse-' + menuGroup.getMenuGroupId()}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
								    
								    
								    <div class="accordion-body">
								    
										<div class="row ascmenuitem" th:each="menuGroupOption : ${menuGroup.getAllActiveMenuGroupOptions()}"
											th:id="${'row-' + menuGroupOption.getMenuGroupOptionId()}" th:orig-id="${'row-' + menuGroupOption.getMenuGroupIdAsInt() + '-' + menuGroupOption.getMenuOptionIdAsInt()}">
											<div class="col-sm-1"></div>
											<div class="col-sm-5" >
												<button class="btn imagebtn btn-danger" type="button" onclick="removeMenuItemFromGroup(this)" th:id="${'delete-' + menuGroupOption.getMenuGroupOptionId()}"><i class="fa fa-trash"></i></button>
												<span>&nbsp;</span>
												<span th:text="${menuGroupOption.getMenuOption().getName()}"></span>			
											</div>
									
										</div>
										
										<div class="row" th:id="${'newItem-' + menuGroup.getMenuGroupId()}">
											<div class="col-sm-1"></div>
											<div class="col-sm-5">
												<button  class="btn asc-control imagebtn btn-success" type="button" th:id="${'add-' + menuGroup.getMenuGroupId()}" onclick="addMenuItem(this)"><i class="fa fa-plus"></i></button>
												<span>&nbsp;</span>										
												<span>Click to Add New Item</span>
												
											</div>
										</div>
								    
								    </div>
								    
								    
								    </div>
								  </div>							
							</th:block>

							<div class="accordion-item" id="row-NewMenuGroup">
								<div class="accordion-header">
									<div class="accordion-button collapsed"
										data-bs-toggle="collapse"
										data-bs-target="#flush-collapseNew"
										aria-expanded="false"
										aria-controls="flush-collapseNew">						
												<button  class="btn imagebtn btn-success"  onClick="addMenuGroup(event)"><i class="fa fa-plus"></i></button>
												<span>&nbsp;</span>																			
												<span><input style="width:300" maxlength="64" class="form-control" name="menuGroupName" type="text" placeholder="Enter name for new group"/></span>	
									</div>
								</div>

							</div>
							</div>
						</fieldset>
				</div>
				</form>
		</div>		
		<div class="row mb-2">
			<div class="col-sm-12" align="center">
				<a href="javascript:history.back()" class="btn btn-secondary" role="button">Back</a>
			</div>
		</div>
		<div class="spacer">&nbsp;</div>
				

	</div>




	



	<!-- The Modal -->
	<div id="myModal" class="modal">

		<!-- Modal content -->
		<div class="modal-content container-flex no-margin" >
			<span class="close" onClick="$('#myModal').hide()">&times;</span>
			
			<div class="row mb-2">
				<div class="col-sm-12" align="center">
				
				
					<h1 class="asc-header">Select Menu Items</h1>
				</div>
			</div>
					
			<div class="row mb-2">
				<div class="col-sm-12">
					<input id="addFilter" class="form-control" type="text"
						placeholder="Search...">
				</div>
	
			</div>

			<div id="menuOptionList2" class="row mb-2 flex-nowrap">

			</div>
			<div class="row mb-2">
				<div class="col-sm-6" align="right">
					<button class="btn btn-primary" name="submit" onClick="addItems()">Add Items</button>															
				</div>								
				<div class="col-sm-6" align="left">
					<button class="btn btn-secondary" onClick="$('#myModal').hide()">Cancel</button>
				</div>
			</div>				
		</div>

	</div>


	<script>
		
	</script>
	
	
<div id="template" style="display:none">
	<div class="accordion-item filterRow" id="row-MENUGROUPID">
		<div class="accordion-header">
			<div class="accordion-button collapsed" 
				data-bs-toggle="collapse"
				data-bs-target="#flush-collapse-MENUGROUPID" aria-expanded="false"
				aria-controls="flush-collapse-MENUGROUPID">
				
				<button class="btn asc-control imagebtn btn-danger" onClick="deleteMenuGroup(this)" id="delete-MENUGROUPID"><i class="fa fa-trash"></i></button>
				<span>&nbsp;</span>	
				<span>MENUGROUPNAME</span>				
			</div>
		</div>
		<div id="flush-collapse-MENUGROUPID"
			class="accordion-collapse collapse"
			data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
				<div class="row" id="newItem-MENUGROUPID">
					<div class="col-sm-1"></div>
					<div class="col-sm-5">					
						<button  class="btn asc-control imagebtn btn-success" type="submit"  id="add-MENUGROUPID" onclick="addMenuItem(this)" ><i class="fa fa-plus"></i></button>
						<span>&nbsp;</span>	
						<span>Click to Add New Item</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row ascmenuitem" id="row-MENUGROUPID-MENUOPTIONID" orig-id="row-MENUGROUPID-MENUOPTIONID">
		<div class="col-sm-1"></div>
		<div class="col-sm-5">
			<button class="btn asc-control imagebtn btn-danger" onclick="removeMenuItemFromGroup(this)" id="delete-MENUGROUPID-MENUOPTIONID"><i class="fa fa-trash"></i></button>
			<span>&nbsp;</span>	
			<span>MENUITEMNAME</span>
		</div>
	</div>


	<div class="row mb-2 filterrow" id="row-MENUOPTIONID" style="display:none">
		<div style="padding-left: 0px" id="name" class="col-sm-2 editable menuOption name" orig-data="" edittype="text">Name</div>
		<div style="padding-left: 0px" id="description" class="col-sm-4 editable menuOption" orig-data="" edittype="textarea">Description</div>
		<div style="padding-left: 0px" id="allergyInformation" class="col-sm-4 editable menuOption" orig-data="" edittype="textarea">Allergy
			Information</div>
		<div style="padding-left: 0px" id="additionalCost" class="col-sm-1 editable menuOption" orig-data="" edittype="money"
			align=center>Cost</div>
		<div style="padding-left: 0px" class="col-sm-1 asc-menuitembutton">		
				<button class="btn asc-control imagebtn btn-danger" type="button" onclick="deleteMenuItem(this)"  id="delete-MENUOPTIONID"><i class="fa fa-trash"></i></button>
				<button style="display:none" class="btn asc-control imagebtn btn-primary" type="button" onclick="undoChanges(this)" id="undo-MENUOPTIONID"><i class="fa fa-rotate-left"></i></button>												
		</div>
		<div style="padding-left: 0px" class="col-sm-1 asc-menuitemcheckbox">
			<input name="selectedOption" type="checkbox" />
		</div>
	</div>




</div>

</body>
</html>