<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"> </script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/styles.css"/>
	<script src="./scripts/afterschoolclub.js"></script>	
	<script src="./scripts/sessionoptions.js"></script>
	<script src="https://kit.fontawesome.com/d152a1d4a4.js" crossorigin="anonymous"></script>
		
</head>
<body onLoad="refreshBookingSummary(); initialiseStudentContainers()">
	<div th:replace="~{fragments/header :: header}"></div>
	<div th:replace="~{fragments/leftnav :: leftnav}"></div>
	<div th:replace="~{fragments/footer :: footer}"></div>
	<div th:replace="~{fragments/error :: error}"></div>

	
	<div id="main" class="main container-flex no-margin ">
				<div class="row mb-2 col-sm-12">				
						<h1 class="asc-header" th:if="${editOptions}">Update <span th:text="${clubSession.getClub().getTitle()}"></span> Options</h1>
						<h1 class="asc-header" th:unless="${editOptions or viewOnly}">Book <span th:text="${clubSession.getClub().getTitle()}"></span> Session</h1>
						<h1 class="asc-header" th:if="${viewOnly}">View <span th:text="${clubSession.getClub().getTitle()}"></span> Session</h1>
						
				</div>
				
		
				
				
			<form th:action="${editOptions ? 'confirmUpdateOptionsForSession' : 'confirmRegisterForSession'}" method="post" onSubmit="validateBookingForm(event)">
				<input th:each="recurringSession : ${recurringSessions}" type="hidden" name="recurringSession" th:value="${recurringSession.getStartDate()}"/>
			
			<div class="container-fluid row col-sm-12">
			
				<input id="basePrice" type="hidden" name="basePrice" th:value="${clubSession.getClub().getBasePrice()}" />
				<input id="sessionId" type="hidden" name="sessionId" th:value="${clubSession.getSessionId()}" />
				<input th:if="${viewOnly}" id="viewOnly" type="hidden" name="viewOnly" value="${viewOnly}" />
				
				<div class="row mb-2">&nbsp;</div>
								
				<div class="row mb-2">
					<div class="col-sm-6">						
							<div class="row mb-2">						
								<div class="col-sm-4 asc-form-label">Date:</div>
			  					<div class="col-sm-3" align="left" th:text="${clubSession.getDisplayStartDate()}" style="padding:0px"></div>
			  					<div class="col-sm-2 asc-form-label">Location:</div>
	  							<div class="col-sm-3" align="left" th:text="${clubSession.getLocation().getName()}"></div>					  					
			  				</div>
			  				<div class="row mb-2">
								<div class="col-sm-4 asc-form-label">Time:</div>
			  					<div class="col-sm-8" align="left" th:text="${clubSession.getStartDateTime().toLocalTime() + ' - ' + clubSession.getEndDateTime().toLocalTime()}" style="padding:0px"></div>
			  				</div>
			  				<div class="row mb-2">
								<div class="col-sm-4 asc-form-label">Suitable for:</div>
			  					<div class="col-sm-8" align="left" th:text="${clubSession.getClub().getSuitableFor()}" style="padding:0px"></div>
			  				</div>			
			  				<div class="row mb-2">
								<div class="col-sm-4 asc-form-label">Base Price:</div>
			  					<div class="col-sm-8" align="left" th:text="${clubSession.getClub().getFormattedBasePrice()}" style="padding:0px"></div>
			  				</div>				  				
			  				<div class="row mb-2">
								<div class="col-sm-4 asc-form-label">Current Attendees:</div>
			  					<div class="col-sm-8" align="left" style="padding:0px" ><span th:text="${clubSession.getNumberAttendees()}" style="padding:0px">?</span><span> out of a maximum </span><span th:text="${clubSession.getMaxAttendees()}"></span><span></span></div>
			  				</div>					
	  				
	  				</div>
	  				
	  				
					<div class="col-sm-6">
							<div class="row mb-2">
								<div class="col-sm-1 asc-form-label" >Organiser(s):</div>			
							</div>
							<div th:each="staffMember : ${staff}" >
								<div class="container-fluid">
									<div class="row mb-2">
										<div class="col-sm-2">
											<img th:src="${staffMember.getImageURL()}" th:alt="${staffMember.getFullName()}" width="50" height="50" class="rounded-circle"></img>
										</div>
										
										<div class="col-sm-10">									
												<div class="row mb-2"><div class="col-sm-12" align="left" th:text="${staffMember.getFullName()}"></div></div>
												<div class="row mb-2"><a th:href="${'mailto:' + staffMember.getEmail()}"  class="col-sm-12"  th:text="${staffMember.getEmail()}"></a></div>
									
										</div>
									</div>
								</div>								
							</div>							  					
	  				</div>	  					  					  						
				</div>

				<div class="row mb-2">
					<div class="col-sm-2 asc-form-label">Description:</div>
					<div class="col-sm-10" style="padding:0px"> 
						<textarea class="form-control mr-sm-2"  rows="3" th:text="${clubSession.getClub().getDescription()}" readOnly  name="description" ></textarea>
					</div>
				</div>
				
				<div class="row mb-2">
					<div class="col-sm-2 asc-form-label">Notes:</div>
					<div class="col-sm-10" style="padding:0px"> 
						<textarea class="form-control mr-sm-2"  th:text="${clubSession.getParentNotes()}" rows=3 readOnly  name="parentNotes" id="parentNotes" ></textarea>				
					</div>
				</div>				
				
				<div th:if="${clubSession.isRecurring()} and ${!viewOnly}" class="row mb-4">
						<div class="col-sm-2 asc-form-label">
							<label for="startDate">Recurring Booking:</label>
						</div>
						<div class="col-sm-10" style="padding:0px">			
							<fieldset class="form-group border p-3">			
								<div class="container-fluid no-margin">
									
									<div class="row mb-2">
										<div class="col-sm-2" align="right">
											<label for="endTime">Book  Until:</label>
										</div>																			
										<div class="col-sm-3">
											<input class="form-control mr-sm-2" th:min="${clubSession.getStartDate()}" th:value="${bookingEndDate}" required type="date" name="bookingEndDate" id="bookingEndDate" th:max="${clubSession.getRecurrenceSpecification().getFormattedEndDate()}" onChange="refreshBookingSummary()" th:disabled="${viewOnly}"/>
											<input type="hidden" id="startDate" th:value="${clubSession.getStartDate()}" />
										</div>		
										<div th:unless="${clubSession.getRecurrenceSpecification().isTermTimeOnly()}" th:disabled="${viewOnly}" class="col-sm-2" align="right">						
											<label for="termTimeOnly" class="recurSpecifier">Term Time Only:</label>
										</div>
										<div th:unless="${clubSession.getRecurrenceSpecification().isTermTimeOnly()}" th:disabled="${viewOnly}" class="col-sm-1" align="left">
											<input class="asc-control form-check-input recurSpecifier" type="checkbox"  th:checked="${termTimeOnly}" name="termTimeOnly" id="NonHolidaysOnly" th:disabled="${viewOnly}"/>
											
											
										</div>
									</div>
									
									<div class="row mb-2"></div>
									<div th:unless="${editing}"  class="row mb-2">
										<div class="col-sm-2" align="right">
											<label for="recurringEndDate" class="recurSpecifier">Recurring Pattern:</label>
										</div>
										<div class="col-sm-10">
											<fieldset class="form-group border p-3 ">
												<div class="container-fluid no-margin">
													<div class="row mb-2">
										
														<div class="col-sm-1 recurSpecifier" align="right">
															<label for="MonRecurring">Mon:</label>
														</div>
														<div class="col-sm-1" align="left">							
															<input th:class="${clubSession.getRecurrenceSpecification().isOccursMonday()} ? 'form-check-input recurSpecifier' : 'form-check-input'" type="checkbox" onChange="refreshBookingSummary()"  th:disabled="${!clubSession.getRecurrenceSpecification().isOccursMonday() or viewOnly}" th:checked="${MonRecurring}" name="MonRecurring" id="MonRecurring" />
														</div>
														<div class="col-sm-1 recurSpecifier" align="right">
															<label for="TueRecurring">Tue:</label>
														</div>
														<div class="col-sm-1 recurSpecifier" align="left">								
															<input th:class="${clubSession.getRecurrenceSpecification().isOccursTuesday()} ? 'form-check-input recurSpecifier' : 'form-check-input'" type="checkbox" onChange="refreshBookingSummary()" th:disabled="${!clubSession.getRecurrenceSpecification().isOccursTuesday() or viewOnly}" th:checked="${TueRecurring}" name="TueRecurring" id="TueRecurring" />
														</div>
														<div class="col-sm-1 recurSpecifier" align="right">
															<label for="WedRecurring">Wed:</label>
														</div>
														<div class="col-sm-1 recurSpecifier" align="left">								
															<input th:class="${clubSession.getRecurrenceSpecification().isOccursWednesday()} ? 'form-check-input recurSpecifier' : 'form-check-input'" type="checkbox" onChange="refreshBookingSummary()" th:disabled="${!clubSession.getRecurrenceSpecification().isOccursWednesday() or viewOnly}"  th:checked="${WedRecurring}"  name="WedRecurring" id="WedRecurring" />
														</div>
														<div class="col-sm-1 recurSpecifier" align="right">
															<label for="ThurRecurring">Thur:</label>
														</div>
														<div class="col-sm-1 recurSpecifier" align="left">								
															<input th:class="${clubSession.getRecurrenceSpecification().isOccursThursday()} ? 'form-check-input recurSpecifier' : 'form-check-input'" type="checkbox" onChange="refreshBookingSummary()"  th:disabled="${!clubSession.getRecurrenceSpecification().isOccursThursday() or viewOnly}" th:checked="${ThurRecurring}"  name="ThurRecurring" id="ThurRecurring" />
														</div>
														<div class="col-sm-1 recurSpecifier" align="right">
															<label for="FriRecurring">Fri:</label>
														</div>
														<div class="col-sm-1 recurSpecifier" align="left">										
															<input th:class="${clubSession.getRecurrenceSpecification().isOccursFriday()} ? 'form-check-input recurSpecifier' : 'form-check-input'" type="checkbox" onChange="refreshBookingSummary()"  th:disabled="${!clubSession.getRecurrenceSpecification().isOccursFriday() or viewOnly}" th:checked="${FriRecurring}" name="FriRecurring" id="FriRecurring" />
														</div>
													</div>
													<div class="row mb-2">													

														<div class="col-sm-1 recurSpecifier" align="right">
															<label for="SatRecurring">Sat:</label>
														</div>
														<div class="col-sm-1" align="left">								
															<input th:class="${clubSession.getRecurrenceSpecification().isOccursSaturday()} ? 'form-check-input recurSpecifier' : 'form-check-input'" type="checkbox" onChange="refreshBookingSummary()"  th:disabled="${!clubSession.getRecurrenceSpecification().isOccursSaturday() or viewOnly}" th:checked="${SatRecurring}" name="SatRecurring" id="SatRecurring" />
														</div>
														<div class="col-sm-1 recurSpecifier" align="right">
															<label for="SunRecurring">Sun:</label>
														</div>
														<div class="col-sm-1" align="left">								
															<input th:class="${clubSession.getRecurrenceSpecification().isOccursSunday()} ? 'form-check-input recurSpecifier' : 'form-check-input'" type="checkbox" onChange="refreshBookingSummary()"  th:disabled="${!clubSession.getRecurrenceSpecification().isOccursSunday() or viewOnly}" th:checked="${SunRecurring}" name="SunRecurring" id="SunRecurring" />
														</div>												
													</div>													
												</div>									
											</fieldset>
										</div>
									</div>
								
								</div>								
							</fieldset>							
						</div>																												
				</div>
				
								
				
					<!--  Key
				<div class="container-fluid row col-sm-12">					
						<div class="col-sm-1 asc-form-label">Session Key:</div>
						<div class="col-sm-7" style="padding:0px">	
							<div class="row mb-4">													
								<div class="col-sm-2">	
									<span>Attending</span>	
							    	<input type="checkbox" disabled class="Attending form-check-input" name="key"/>										    	
								 </div>
								<div class="col-sm-2">	
									<span>Available</span>	
							    	<input type="checkbox" disabled class="Available form-check-input" name="key"/>										    	
								 </div>
								<div class="col-sm-2">	
									<span>Unavailable</span>	
							    	<input type="checkbox" disabled class="NotAvailable form-check-input" name="key"/>										    	
								 </div>
								<div class="col-sm-2">	
									<span>Missed</span>	
							    	<input type="checkbox" disabled class="Missed form-check-input" name="key"/>										    	
								 </div>
								<div class="col-sm-2">	
									<span>Attended</span>	
							    	<input type="checkbox" disabled class="Attended  form-check-input" name="key"/>										    	
								 </div>
							</div>	
						 </div>													
					</div>	
					 -->
					 
					 
					<div th:if="${sessionBean.isLoggedOn()}" class="row">
						<div class="col-sm-2 asc-form-label"></div>
						<div class="col-sm-10" style="padding:0px">							
							
							<ul class="nav nav-tabs" >
							<li class="nav-item" th:each="student : ${parent.getStudents()}">
							
							
							    <a th:class="${sessionBean.getStudentClass(student, clubSession, editOptions, viewOnly)+'nav-link studentTab'}"
							    	 aria-current="page" th:id="${'student-'+student.getStudentId()}" th:href="${'javascript:activateStudent(&quot;student-'+ student.getStudentId()+'&quot;)'}">
							    	   	<span th:text="${student.getFullName()}"></span>	
							

								    	<input type="checkbox" th:disabled="${viewOnly or editOptions or clubSession.registered(student)}"
									    	th:class="${sessionBean.getStudentCheckContainerClass(student, clubSession) + ' form-check-input'}" 
									    	th:checked="${selectedStudents.contains(student.getIdAsString())}" th:id="${'student-'+student.getStudentId()+'-Attending'}" th:name="${'student-'+student.getStudentId()+'-Attending'}" onChange="changedAttendance(this)"/>										    	
									        	
								    	
							    							    	
							    </a>
						     	<input th:if="${editOptions}" type=hidden th:name="${'student-'+student.getStudentId()+'-Attending'}"  th:value="${selectedStudents.contains(student.getIdAsString())} ? 'on' : ''">							    	
						    	<input class="hiddenTotal" type="hidden" th:name="${'student-'+student.getStudentId() + '-TotalHiddenCost'}"  th:id="${'student-'+student.getStudentId() + '-TotalHiddenCost'}"/>
						    	<input th:if="${editOptions}" class="hiddenOriginalTotal" type="hidden" th:name="${'student-'+student.getStudentId() + '-TotalHiddenOriginalCost'}"  th:value="${student.getCostOfSession(clubSession)}" th:id="${'student-'+student.getStudentId() + '-TotalHiddenOriginalCost'}"/>
							    							   					    
							  </li>							
							</ul>
						</div>						
					</div>
				
					<div th:if="${sessionBean.isLoggedOn()}" class="row mb-2">
							<div class="col-sm-2 asc-form-label" th:if="${clubSession.getMenuGroups().size()>0}">Options:</div>
							<div class="col-sm-2 asc-form-label" th:unless="${clubSession.getMenuGroups().size()>0}">&nbsp;</div>
					
							<div class="container-fluid studentContainer col-sm-10" th:if="${clubSession.getMenuGroups().size()>0}"  th:each="student : ${parent.getStudents()}" th:id="${'student-'+student.getStudentId()+'-Container'}" style="padding:0px">
											
							<div  class="row mb-2">					
								<div class="col-sm-2"></div>
								<div class="col-sm-2 asc-refreshmentheader">Item</div>
								<div class="col-sm-3 asc-refreshmentheader">Description</div>
								<div class="col-sm-3 asc-refreshmentheader">Allergy Information</div>
								<div class="col-sm-2 asc-refreshmentheader" align="left">Selection</div>
							</div>
							
							
													
							<div th:each="menu : ${clubSession.getMenuGroups()}" >
									
								<div class="row mb-2 ">											
									<div class ="col-sm-2" th:text="${menu.getName()}" align="right"></div>
									<div class="col-sm-2">None</div>
									<div class="col-sm-3">&nbsp;</div>
									<div class="col-sm-3">&nbsp;</div>
									<div class="col-sm-2" align="left">
										<span th:id="${'student-'+student.getStudentId() + '-OptionNone-FormattedCost'}">£0.00</span><span>&nbsp;&nbsp;&nbsp;</span>
										<input onChange="refreshBookingSummary()"   type="radio"
											th:checked="${sessionBean.checkedOption(menu, 0, student, clubSession)}"  
											th:disabled="${viewOnly}" th:readOnly="${viewOnly}"
											class="asc-control form-check-input menuOption" th:name="${'student-'+student.getStudentId() + '-' + menu.getName().replace(' ','-')}" 
											value="None" th:id="${'student-'+student.getStudentId() + '-OptionNone'}"/>
										<input type="hidden" th:name="${'student-'+student.getStudentId() + '-None-Value'}" value="0"  th:id="${'student-'+student.getStudentId() + '-OptionNone-Value'}"/>
									</div>
								</div>
								
								<div th:each="menuGroupOption,iterStat : ${menu.getMenuGroupOptions}">
								<div class="row mb-2"  >
										<div class="col-sm-2">&nbsp;</div>	
										<div class="col-sm-2" th:text="${menuGroupOption.getMenuOption().getName()}"></div>
										<div class="col-sm-3" th:text="${menuGroupOption.getMenuOption().getDescription()}"></div>
										<div class="col-sm-3" th:text="${menuGroupOption.getMenuOption().getAllergyInformation()}"></div>
										<div class="col-sm-2" align="left">
											<span th:id="${'student-'+student.getStudentId() + '-Option' +menuGroupOption.getMenuOptionIdAsInt()+'-FormattedCost'}" th:text="${menuGroupOption.getMenuOption().getFormattedCost()}"></span><span>&nbsp;&nbsp;&nbsp;</span>
											<input onChange="refreshBookingSummary()"  type="radio"
												th:checked="${sessionBean.checkedOption(menu, menuGroupOption.getMenuOptionIdAsInt(), student, clubSession)}"
												th:disabled="${viewOnly}" th:readOnly="${viewOnly}" 
												
												class="asc-control form-check-input menuOption" th:name="${'student-'+student.getStudentId() + '-' + menu.getName().replace(' ','-')}" th:value="${menuGroupOption.getMenuOptionIdAsInt()}" th:id="${'student-'+student.getStudentId() + '-Option'+menuGroupOption.getMenuOptionIdAsInt()}"/>
											<input type="hidden" th:name="${'student-'+student.getStudentId() + '-' + menuGroupOption.getMenuOptionIdAsInt()+'-Value'}" th:value="${menuGroupOption.getMenuOption().getAdditionalCost()}"  th:id="${'student-'+student.getStudentId() + '-Option' + menuGroupOption.getMenuOptionIdAsInt()+'-Value'}"/>
										</div>
									</div>
								</div>
								<div class="row mb-2">&nbsp;</div>								
							</div>
							
					 
							<div th:if="${editOptions}" class="row mb-2">					
								<div class="col-sm-10 asc-totallabel childTotal" >Original cost for <span th:text="${student.getFullName()}"></span>:</div>					
								<div class="col-sm-1 asc-totalvalue childTotal" th:id="${'student-'+student.getStudentId() + '-TotalOriginalCost'}"></div> 																			
							</div>		
							<div th:if="${editOptions}" class="row mb-2">					
								<div class="col-sm-10 asc-totallabel childTotal" >New cost for <span th:text="${student.getFullName()}"></span>:</div>					
								<div class="col-sm-1 asc-totalvalue childTotal" th:id="${'student-'+student.getStudentId() + '-TotalCost'}"></div> 																			
							</div>									
							<div th:unless="${editOptions}" class="row mb-2">					
								<div class="col-sm-10 asc-totallabel childTotal" >Cost for <span th:text="${student.getFullName()}"></span>:</div>					
								<div class="col-sm-1 asc-totalvalue childTotal" th:id="${'student-'+student.getStudentId() + '-TotalCost'}"></div> 
																				
							</div>								
							
						</div>

				
											
					</div>
					
					<div th:if="${!sessionBean.isLoggedOn() and clubSession.getMenuGroups().size()>0}" class="row mb-2">
							<div class="col-sm-2 asc-form-label"  align="right">Options:</div>
							<div class="col-sm-10" style="padding:0px">			
							
								<fieldset  th:if="${clubSession.getMenuGroups().size()>0}"  class="form-group border p-3 ">
						
									<div class="container-fluid col-sm-11" style="padding:0px">
													
										<div  class="row mb-2">					
					
											<div class="col-sm-2 asc-refreshmentheader">Item</div>
											<div class="col-sm-4 asc-refreshmentheader">Description</div>
											<div class="col-sm-4 asc-refreshmentheader">Allergy Information</div>
											<div class="col-sm-2 asc-refreshmentheader" align="left">Cost</div>
										</div>
										<div th:each="menu : ${clubSession.getMenuGroups()}" >																	
											<div th:each="menuGroupOption,iterStat : ${menu.getMenuGroupOptions}">
											<div class="row mb-2"  >
						
													<div class="col-sm-2" th:text="${menuGroupOption.getMenuOption().getName()}"></div>
													<div class="col-sm-4" th:text="${menuGroupOption.getMenuOption().getDescription()}"></div>
													<div class="col-sm-4" th:text="${menuGroupOption.getMenuOption().getAllergyInformation()}"></div>
													<div class="col-sm-2" align="left">
														<span th:text="${menuGroupOption.getMenuOption().getFormattedCost()}"></span><span>&nbsp;&nbsp;&nbsp;</span>
														
													</div>
												</div>
											</div>
											<div class="row mb-2">&nbsp;</div>								
										</div>							
									</div>
								</fieldset>
							</div>
					</div>					
					
					
					<div th:if="${sessionBean.isLoggedOn()}" class="row mb-2">
							<div class="col-sm-1 asc-form-label"></div>					
							<div class="container-fluid col-sm-11">
						
								<div th:if="${editOptions}" class="row mb-2">
									<div class="col-sm-8"></div>					
									<div class="col-sm-2 asc-totallabel" id="totalDifferenceLabel" align="Right" >Total Difference:</div>																									
									<div class="col-sm-1 asc-totalvalue" id="totalCost"></div>																		 
								</div>

								<div th:unless="${editOptions}" class="row mb-2">
									<div class="col-sm-8"></div>
									<div class="col-sm-2 asc-totallabel" >Cost Per Session:</div>																	
									<div class="col-sm-1 asc-totalvalue" id="totalCost"></div>																		 
								</div>
																
								<div th:unless="${editOptions}"  class="row mb-2">
									<div class="col-sm-7"></div>					
									<div class="col-sm-3 asc-totallabel" >Total Cost for <span id="numberSessions" ></span> Session(s):</div>																	
									<div class="col-sm-1 asc-totalvalue"  id="totalCostForAllSessions"></div>																		 
								</div>								
									
								<input type="hidden" name="totalHiddenCost"  id="totalHiddenCost"/>
							</div>	
					</div>					
				</div>
			
				<div th:if="${viewOnly}" class="row mb-2">
					<div class="col-sm-12" align="center">
						<a href="javascript:history.back()" class="btn btn-secondary" role="button">Back</a>
					</div>
				</div>
				<div th:unless="${viewOnly}" class="row mb-2">
					<div class="col-sm-6" align="right">
						<button th:if="${editOptions}" id="submitButton" class="btn btn-primary" name="submit">Update Options</button>					
						<button th:unless="${editOptions}" id="submitButton" class="btn btn-primary" name="submit">Book <span th:text="${clubSession.getClub().getTitle()}"></span></button>
					</div>
				
					<div class="col-sm-6" align="left">
						<a href="./cancelRegisterForSession" class="btn btn-secondary" role="button">Cancel</a>
					</div>
				</div>				
							
				<div class="spacer">&nbsp;</div>
							
				
			</form>
		</div>

</body>
</html>