<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>After School Club</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"> </script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/styles.css"/>
	<script src="./scripts/afterschoolclub.js"></script>
	<script src="https://kit.fontawesome.com/d152a1d4a4.js" crossorigin="anonymous"></script>
		
	

</head>
<body>
	<div th:replace="~{fragments/header :: header}"></div>
	<div th:replace="~{fragments/leftnav :: leftnav}"></div>
	<div th:replace="~{fragments/footer :: footer}"></div>
	<div th:replace="~{fragments/error :: error}"></div>

		<div id="main" class="main container-flex" >

		<div class="row col-sm-12 asc-text" style="padding-left:15px">
			<h1 class="asc-header">Terms and Conditions</h1>
			<p>For the purposes of this document the After School Club shall hereinafter be called ‘The Club’ and those wishing to use the services of the After School Club, shall hereinafter be called ‘The Client’.</p>
			<p>The Club will only undertake business on these following Terms and Conditions, each of which shall be incorporated or implied in any agreements between The Club and The Client. No variations of these Terms and Conditions shall be binding unless expressly confirmed by The Club in writing and signed by the Director of The Club. The Client is bound by these Terms and Conditions once it commences using the services of The Club.</p>
			<p>The Club reserves the right to revise these Terms and Conditions and undertakes to display the most recent version on the The Club’s website.</p>
			<h2 class="asc-text">Operating</h2>
			<p>The Club operates between the hours of 07.00 and 9.00 and 15:15 and 19:00, from Monday to Friday, during term time.</p>
			<p>The Club operates on the basis of 1 staff member to 8-10 children. Should the Client’s child require a 1:1 ratio, the child may attend the club in the normal way accompanied by his/her carer (which may be arranged through the resources of the Local Authority).</p>
			<h2 class="asc-text">Registration</h2>
			<p>Prior to making a booking the Client is required to complete the registration process which enables access to our on- line system. The Client must provide emergency contact details. In addition, the Client must complete the child registration form and provide health information, SEN needs and dietary requirements. Bookings cannot be accepted until this information has been provided.</p>
			<p>It is the parents’ responsibility to provide updates to this information and to add any information we would require to provide the best care for the child. We may contact you before starting to assess if our staff are able to attend to your child’s needs or if 1:1 care will need to be provided.</p>
			<p>Failure to inform us in advance could result in your child being unable to attend the booked session.</p>
			<h2 class="asc-text">Fees</h2>
			<p>Club fees are paid in advance through our online system via Paypal. We ask that your payment reference includes your child’s initial and surname.</p>
			<p>The Club accepts payment via all childcare vouchers and tax-free childcare payments. These payments must include the individual reference number.</p>
			<p>If your account falls into arrears, we will contact the Client immediately and issue an account  statement. Payment to settle the account must be made within 7 days. If The Client has difficulty paying on time The Client must contact The School Office.  Failure to do this could result the child not being accepted at The Club and no prior notice will be given.</p>
			<p>Bookings are fully chargeable once a booking is actioned. The Client must advise The Club in advance of the session if the child is unable to attend. Any sessions cancelled in advance will not be charged.</p>
			<p>If the school closes at short notice due to bad weather, health and safety issues, an Act of God, diseases etc.), The Club will not operate and will contact The Client by e-mail in the first instance. A refund of the fee will be made under these circumstances.</p>
			<p>The Club fees are reviewed regularly with our operational costs. The Club undertakes to advise The Client of revised fees a minimum of six weeks in advance.</p>
			<h2>Booking</h2>
			<p>When The Client makes a booking for The Club, the child must attend the session on the specified date. Regular and repeated bookings can be made each term. The Client must cancel or change their booking in advance if their child is not able to attend. Any bookings not amended/cancelled in advance will be fully chargeable.</p>
			<h2>Collecting Your Child</h2>
			<p>The Client must collect the child by 19.00. If The Client should be unable to do so in unforeseen circumstances, The Club must be notified of the revised collection time.</p>
			<p>The Client must advise The Club of any changes to the collection arrangements.</p>
			<h2>Reporting an absence</h2>
			<p>If The Client’s child is unable to attend a session due to illness or other activities, The Club should be notified by email in advance of the session.</p>
			<h2>Sickness Policy</h2>
			<p>If your child is sick or has diarrhoea, we have a 48-hour policy. With other illnesses please see NHS guidance notes.</p>
			<h2>Liability</h2>
			<p>The Club endeavours to maintain the highest standards of health and safety at all times but is not liable for any accidents which may occur. We will do all we can to care for your child safely.</p>
			<h2>Photographs</h2>
			<p>It is The Club’s practice to use photographs of children attending The Club for advertising, displays and website and other promotional purposes. Their name will not accompany any such images used. The Client should email the School Office if permission for their child to appear in such images is withheld. </p>
			<h2>Communication</h2>
			<p>The Club will contact the Client by the e-mail address recorded on the Registration Form and it is therefore vital that this information is correct at all times and that email communications from The Club is read without delay. Further, it is The Client’s responsibility to ensure that the child’s information is correctly recorded on the Registration Form.</p>
			<h2>Behaviour</h2>
			<p>The Club reserves the right to withdraw its services if The Client’s child is disruptive and/or aggressive in such a manner as to pose a safety risk to the other children at The Club. A verbal warning will be given to the Client and if matters do not improve, The Club will demand the immediate removal of the child. </p>
			<p>Equally if a parent/child is aggressive or rude to our staff at The Club or a child within our care, this behaviour will not be tolerated and The Club reserves the right to withdraw its service with immediate action. No refund of fees will be received.</p>
			<div class="spacer">&nbsp;</div>
		</div>
	</div>
	
		
</body>
</html>
