<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>After School Club Account Validated</title>		
</head>
<body>


	<div th:replace="~{email/fragments/emailheader :: emailheader}"></div>

	
	<p>Congratulations your account has been validated. 
		<span th:if="${user.isEmailVerified()}"> You are now able to login and start using the service here at <a th:href="${sessionBean.getHomePage()}">After School Club</a>. </span>
		<span th:unless="${user.isEmailVerified()}"> However, we are still waiting for you to verify your email address.
			Please click <a th:href="${link}">here</a> to complete the verification process.
		</span>
	</p>


	<div th:replace="~{email/fragments/emailfooter :: emailfooter}"></div>

</body>
</html>